<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <%= link_to "Codeplug App", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link #{request.path == root_path ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", help_path, class: "nav-link #{request.path == help_path ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link #{request.path == about_path ? 'active' : ''}" %>
        </li>
        <% if logged_in? %>
          <!-- Hardware Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="hardwareDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hardware
            </a>
            <ul class="dropdown-menu" aria-labelledby="hardwareDropdown">
              <li><%= link_to "Radio Models", radio_models_path, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Log Out", logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
